<h2 class = "coach_one">(Coach) - What are you doing?</h2>
<h2 class="answer"> (Me) - <%=params[:answer_one]%></h2>
<h2 class="coach_two">(Coach) - <%=@coach_answers%></h2>

<h3><%=link_to "click here to ask a new question", ask_path %></h3>